version: '3.4'

services:
  client:
    image: client
    build:
      context: client
      dockerfile: ./debug.Dockerfile
    environment:
      - NODE_ENV=development
      - BACKEND_HOST=server
      - BACKEND_PORT=8080
    ports:
      - 3000:3000
      - 9229:9229
    volumes:
      - ./client:/usr/src/app
    depends_on:
      - server
  
  server:
    image: server
    build:
      context: server
      dockerfile: ./debug.DockerFile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:5001;http://+:5000
      - MARIADB_HOST=database
      - MARIADB_PORT=3306
      - MARIADB_USER=root
      - MARIADB_PASSWORD=supersecret
      - MARIADB_DATABASE=GraphServer
    ports:
      - 5001:5001
      - 5000:5000
    volumes:
      - ./server:/usr/src/app
    depends_on:
      - database

  database:
    image: mariadb
    restart: always
    environment:
      - MARIADB_USER=root
      - MARIADB_ROOT_PASSWORD=supersecret
    volumes:
      - database_volume:/var/lib/mysql
    ports: 
      - 3306:3306

volumes:
  database_volume: