@import '../../styles/constants.scss';
// Constants
$playground-width: 50+1; // + 1 because grid is indexing from 1
$playground-height: 50+1; // + 1 because grid is indexing from 1
$playground-background: $pBlack;
$food-color: red;
$snake-head-color: $pTeal;
$snake-body-color: $pWhite;
.snakeGame {
    display: grid;
    grid-template-columns: repeat($playground-width, 1fr);
    grid-template-rows: repeat($playground-height, 1fr);
    height: 100%;
    width: 100%;
    background-color: $playground-background;
    cursor: pointer;
}

.BodyblockType {
    background-color: $snake-body-color;
}

.HeadblockType {
    background-color: $snake-head-color;
}

.FoodblockType {
    background-color: $food-color;
}