@import './constants.scss';

html {
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: $pageBackground;
}

body{
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    cursor: pointer;
}

a,
a:hover,
a:link,
a:hover,
a:active {
    color: $linkColor;
}